{% extends "base.html" %}


{% block tile %}
<title>Enroll</title>
{% endblock %}

{% block content %}
{% for subject in Subject %}
{% if subject.status and not subject.isPicked %}
<div class="alert alert-secondary d-flex align-items-center justify-content-between">
    <div>
        <p class="text-uppercase fs-5 fw-bold d-inline mb-0">{{subject.sjID}}</p>
        <p class="text-uppercase fs-5 d-inline mb-0">{{subject.sName}}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <a href="add/{{Student.sID}}/{{subject.sjID}}" class="btn btn-outline-danger">Add</a>
    </form>

</div>
{% endif %}
{% endfor %}
<a style="margin-bottom: 20px;" href="myCourse" class="btn btn-success">My Course</a>

{% endblock %}