{% extends "base.html" %}


{% block tile %}
<title>Homepage</title>
{% endblock %}

{% block content %}
<div>
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-success" role="alert">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <h2>Hello {{Student.fname | upper}}</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut praesentium obcaecati optio deleniti autem hic
        reiciendis consectetur sed ipsam rerum quod, provident architecto veniam quaerat animi sint iste eos qui omnis!
        Eos animi quod voluptate praesentium, eius dolor quidem corporis sapiente reiciendis laboriosam quis quo
        molestias? Tenetur vel recusandae maiores tempore numquam quam culpa esse? Ullam dicta, non ea consequatur
        obcaecati, eligendi consectetur architecto perspiciatis voluptates eaque suscipit, quos in quisquam odio? Optio
        voluptatibus id exercitationem ullam. Distinctio et aliquid, quam dolores ipsa nihil ducimus fuga debitis sunt
        esse! Dolores delectus vel provident exercitationem. Nobis illum magnam facilis recusandae voluptatibus dolore
        aliquid aut explicabo, eaque quam esse tempore alias eius aperiam architecto consectetur velit ullam consequatur
        numquam placeat! Iure temporibus repellat aperiam pariatur odio quia voluptatum, dolore quaerat fugit, at itaque
        totam consequuntur modi maiores illo? Nemo earum illum voluptates ab minima dignissimos dolorem, incidunt eius.
        Aut beatae exercitationem nostrum praesentium suscipit! Voluptatem quae architecto aliquid? Modi nesciunt
        nostrum iusto sed deleniti inventore, hic dolore magni nemo neque quasi porro incidunt dolorem corporis illo!
        Eligendi commodi, natus quia ipsa nam minus doloribus quisquam nihil laboriosam illo odio, cumque sed incidunt
        facere ex sunt? Ab quam explicabo culpa sequi assumenda consequuntur alias repellat eaque illum voluptates dolor
        repudiandae a expedita sed, quo in, sint voluptatum laborum suscipit ipsam impedit voluptatibus. Totam, quasi
        quo dolorem natus dolor unde ab saepe porro dignissimos, possimus ipsa dolorum amet nihil. Omnis enim hic
        perferendis obcaecati earum animi facilis esse, unde deserunt minima cupiditate ipsa tenetur.</p>
</div>

{% endblock %}