{% extends "base.html" %}


{% block tile %}
<title>Enroll</title>
{% endblock %}

{% block content %}
{% if subjects %}
{% for subject in subjects %}
<div class="box alert alert-secondary d-flex align-items-center justify-content-between" style="background-color: #1f1f1f; color: #ccc;">
    <div>
        <p class="text-uppercase fs-5 fw-bold d-inline mb-0">{{subject.sjID}}</p>
        <p class="text-uppercase fs-5 d-inline mb-0">{{subject.sName}}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <a href="delete/{{Student.sID}}/{{subject.sjID}}" class="btn btn-outline-danger">Delete</a>
    </form>

</div>
{% endfor %}
<a style="margin-bottom: 20px; margin-right: 8px; margin-left: 8px;" href="enrollSubmit/{{Student.sID}}" class="btn btn-success">Enroll</a>
<a style="margin-bottom: 20px;" href="/enroll" class="btn btn-success">Back</a>
{% else %}
<div class="alert alert-danger" role="alert">
    No Subject Available!
</div>
<a style="margin-bottom: 20px; margin-left: 8px;" href="/enroll" class="btn btn-success">Back</a>
{% endif %}

{% endblock %}