{% extends 'base.html' %}

{% block tile %}
<title>User Information</title>
{% endblock %}

{% block content %}
<div class="card container" style="width: 25rem;">
    <img src="..." class="card-img-top" alt="profile-picture">
    <div class="card-body">
        <h5 class="card-title">{{Student.fname | upper}} {{Student.lname | upper}}</h5>
        <h6 class="card-subtitle mb-2">{{Student.sID}}</h6>
        <p class="card-text">{{Student.faculty | upper}}</p>
        <p class="card-text">{{Student.department | upper}}</p>
    </div>
</div>

{% endblock %}